html {
    font-size: 1rem;
    background: url("http://i.imgur.com/b9r5sEL.jpg") bottom center;
    background-size: cover;
    font-family: sans-serif;
}

.keys {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

}

.key {
    border: 0.4rem solid black;
    border-radius: 0.5rem; 
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1.5rem 0.5rem;
    width: 10rem;
    color: white;
    text-align: center;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    transition: all .11s ease;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size:1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

